
@{
    ViewBag.Title = "Admin panel";
}

@Html.Partial( "AdminPanelPartial" )

<div class="panel panel-default">
    <div class="panel-body">

        Wellcome to administration panel
    </div>
</div>


